body {
  font-family: 'Segoe UI', sans-serif;
  background: #8d0404;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.container {
  background: rgb(255, 154, 3);
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
  color: #ffffff;
  text-align: center;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="datetime-local"],
select {
  padding: 10px;
  border: 1px solid #f6000055;
  border-radius: 5px;
}

button {
  background: #ff0000;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #000000;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #e8f5e9;
  margin: 10px 0;
  padding: 12px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}


